*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    /* background-color: #ffaf7a; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: url("../wolfgang-hasselmann-bR_-gllg7Bs-unsplash.jpg");
    background-size: cover;
    background-color: #808080;
}

.header__style{
    text-align: center;
    margin-top: 10rem;
}


.input{
    text-align: center;
    margin: 10vh;
}

input[type="text"]{
    height: 50px;
    width: 600px;
    background: #e7e7e7;
    border: none;
    border-radius: 2px; 
}

input[type="submit"]{
    height: 50px;
    width: 100px;
    background: #e7e7e7;
    border: none; 
    border-radius: 2px;
    margin-left: 2rem;
}

.inputValue, .input, .button{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

input::placeholder{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.display{
    text-align: center;;
}

.temp, .desc, .lon, .lat, .name{
    font-weight: bold;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 1rem;
}

.button:hover{
    background-color: #dbf3fa;
}

