
*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    /* background-color: #ffaf7a; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: url("../wolfgang-hasselmann-bR_-gllg7Bs-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #808080;
    /* height: 80vh; */
    min-height: 5px;
}
 

.header__style{
    text-align: center;
    margin-top: 10rem;
    color:#ffffff
}


.input{
    text-align: center;
    margin: 10vh;
}

input[type="text"]{
    height: 50px;
    width: 600px;
    background: #e7e7e7;
    border: none;
    border-radius: 2px; 
}

input[type="submit"]{
    height: 50px;
    width: 100px;
    background: #e7e7e7;
    border: none; 
    border-radius: 2px;
    margin-left: 2rem;
}

.inputValue, .input, .button{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

input::placeholder{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.display{
    text-align: center;;
}

.temp, .desc, .lon, .lat, .name{
    font-weight: bold;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 1rem;
    color:#ffffff
}

.button:hover{
    background-color: #dbf3fa;
}

@media (max-width: 767px) {
    body {
     width: 4rem;
     height: 50rem;
   }

   input[type="text"]{
    width: 250px;
    margin-bottom: 1rem;
   }

   .header__style, .temp, .desc, .lon, .lat, .name{
    margin-left: 3rem;
   }

   input[type="submit"]{
    margin-left: 2px;
   }
 }

